<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Product</h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <label> Product Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="_product.name"
                            name="name">
                    </div>

                    <div class="form-group">
                        <label> Price</label>
                        <input type="text" class="form-control" id="price" [(ngModel)]="_product.price"
                            name="price">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
